body{
  background: #66CDAA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  margin: 0;
}

.heart{
 background-color: red;
 width: 100px;
 height: 100px;
 position: relative;
 top: 100px;
 left: 50%;
 transform: rotate(-45deg);}

.heart:before{
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -50px;
  left: 0;
}

.heart:after{
  z-index: -1;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 50px;
}