body{
  background: #02b9;
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
  margin: 0;
   animation-name: dancing;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes dancing{
  0%{
    left:1001px;
    background:#183;
  }
  25%{
    background:#388;
  }
  50%{
    background:#b11;
    transform: scale(2.25) rotate(-350deg);
  }
  100%{
    left:300px;
    background:#f95;
  }

  }
.circle1:after{
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: 60px;
  left: 70;
}
.circle2:before{
  content: '';
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: 120px;
  left: 505px;
  transform: rotate(-45deg);
}
.circle3:after{
  content: '';
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: 185px;
  left: 480px;
  transform: rotate(45deg);
}
.circle4:after{
  content: '';
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: 120px;
  left: 400px;
  transform: rotate(45deg);
}
.circle5:after{
  content: '';
  width: 150px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  top: 180px;
  left: 418px;
  transform: rotate(135deg);
}
.circle6:after{
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
  position: absolute;
  top: 130px;
  left: 70;
}